{
    "plugins": [
        "react"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "curly": [1, "multi-line"],
        "no-var": 1,
        "quotes": "single",
        "indent": 1,

        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,

        "camelcase": 0,
        "comma-dangle": 0,
        "no-constant-condition": 0,
        "no-loop-func": 0,
        "no-shadow": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
    },
    "globals": {
        // https://github.com/eslint/eslint/issues/1968
        "super": true,
    },
    "ecmaFeatures": {
        // enable parsing of arrow functions
        "arrowFunctions": true,

        // enable parsing of let/const
        "blockBindings": true,

        // enable parsing of destructured arrays and objects
        "destructuring": true,

        // enable parsing of regular expression y flag
        // "regexYFlag": true,

        // enable parsing of regular expression u flag
        // "regexUFlag": true,

        // enable parsing of template strings
        "templateStrings": true,

        // enable parsing of binary literals
        "binaryLiterals": true,

        // enable parsing of ES6 octal literals
        "octalLiterals": true,

        // enable parsing unicode code point escape sequences
        // "unicodeCodePointEscapes": true,

        // enable parsing of default parameters
        "defaultParams": true,

        // enable parsing of rest parameters
        "restParams": true,

        // enable parsing of for-of statement
        "forOf": true,

        // enable parsing computed object literal properties
        "objectLiteralComputedProperties": true,

        // enable parsing of shorthand object literal methods
        "objectLiteralShorthandMethods": true,

        // enable parsing of shorthand object literal properties
        "objectLiteralShorthandProperties": true,

        // Allow duplicate object literal properties (except '__proto__')
        // "objectLiteralDuplicateProperties": true,

        // enable parsing of generators/yield
        // "generators": true,

        // enable parsing spread operator
        "spread": true,

        // enable parsing classes
        "classes": true,

        // enable parsing of modules
        // "modules": true,

        // enable React JSX parsing
        "jsx": true,

        // enable return in global scope
        // "globalReturn": true,

        superInFunctions: true,
    }
}

